# Python virtualenv files
**/bin
**/include
**/lib
**/__pycache__
pyvenv.cfg

# Private files
**/private

# VSCode files
*.code-workspace
**/.devcontainer/*

# Web files
*.map

# Editor files
*.code-workspace

# Private files
*.db
