img {
    max-width: 300px;
    max-height: 300px;
}

a {
    color: #3391ff;
}

main {
    padding: 30px 30px 0 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

details {
    user-select: none;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

details:hover {
    border-color: #eee;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

p {
    user-select: text;
}
