/* User rank font colors */
.villager {
  color: #3bb89f;
}

.cowpoke {
  color: #00bed7;
}

.farmer {
  color: #099dec;
}

.shepherd {
  color: #4380f4;
}

.rancher {
  color: #7773f3;
}

.cropmaster {
  color: #9268f0;
}

.desperado {
  color: #b457e9;
}
