html {
  font-family: Arial, sans-serif;
  background: #1E2124;
  color: #F4F4F4;
  height: 100%;
}

header {
  background: #2a2e33;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px;
}

header h1 {
  grid-column: 2;
  margin: 0;
  justify-self: center;
  align-self: center;
}
