main {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main .user {
  display: table-row;
}

main .user > * {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}

main .user > .user-rank {
  font-size: 24px;
}

main .user > .user-img {
  width: 50px;
  border-radius: 25px;
  padding: 0;
  margin: 10px 0;
}

main .user .user-id {
  font-size: 10px;
}

main .user .user-xp {
  font-size: 12px;
}
