* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    background: #1E2124;
    color: #F4F4F4;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 50px calc(100% - 100px) 50px;
    height: 100%;
    margin: 0;

    &.js-nav-main-open {
        grid-template-columns: 200px calc(100% - 250px) 50px;
    }

    &.js-nav-admin-open {
        grid-template-columns: 50px calc(100% - 250px) 200px;
    }

    &.js-nav-main-open.js-nav-admin-open {
        grid-template-columns: 200px calc(100% - 400px) 200px;
    }
}

header {
    background: #2a2e33;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;

    h1 {
        grid-column: 2;
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    button {
        outline: none;
        width: 50px;
        height: 50px;
        background: inherit;
        border: none;
        grid-row: 1;
        color: #F4F4F4;
        cursor: pointer;

        &#nav-main-toggle {
            grid-column: 1;
        }

        &#nav-admin-toggle {
            grid-column: 3;
        }
    }
}

nav {
    background: #2a2e33;
    overflow: hidden;

    &#nav-admin {
        grid-column: 3;
    }

    svg, img {
        width: 48px;
        height: 48px;
        padding: 10px;
    }

    ul {
        display: grid;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    li {
        white-space: nowrap;

        span {
            background: #F4F4F4;
            color: #1E2124;

            svg {
                color: #1E2124;
            }
        }

        a,span {
            line-height: 48px;
            width: 100%;
            display: flex;
            font-size: 14px;
            border: 2px solid transparent;

            svg {
                border-right: 2px solid transparent;
                margin-right: 10px;
            }

            &.current {
                background: #F4F4F4;
                color: #1E2124;
            }

            &:not(.current) {
                cursor: pointer;

                &:hover {
                    background: #4A4D4F;
                }

                &:focus {
                    border-color: #0076C8;
                    outline: none;

                    svg {
                        border-color: #0076C8;
                    }
                }
            }
        }
    }

    a {
        text-decoration: none;
    }

    a, a:visited {
        color: #F4F4F4;
    }
}

main {
    grid-column: 2;
    grid-row: 2;
    padding: 30px 30px 0 30px;
}

@media (max-width: 799px)  {
    header h1 {
        font-size: 1em;
    }

    body,
    body.js-nav-main-open,
    body.js-nav-admin-open,
    body.js-nav-main-open.js-nav-admin-open {
        grid-template-columns: 100%;
    }

    nav#nav-main {
        transition: left 0.4s ease-out;
    }

    nav#nav-admin {
        transition: right 0.4s ease-out;
    }

    body.js-nav-main-open {
        nav#nav-main {
            left: 0;
        }
    }

    body.js-nav-admin-open {
        nav#nav-admin {
            right: 0;
        }
    }

    nav {
        background: #2a2e33;
        overflow: hidden;
        position: absolute;
        top: 50px;
        z-index: 99;
        width: 200px;
        bottom: 0;

        &#nav-main {
            left: -200px;
        }

        &#nav-admin {
            right: -200px;
        }
    }

    body main {
        width: 100%;
        grid-column: 1;
    }
}